@charset "UTF-8";

/* ==============================================================
  해더
==============================================================*/
header { position: fixed; width: 100%; z-index: 1000; transition: all 0.2s;
 .inner { width: 100%; height: 70px; padding: 0 15px; margin: 0 auto; display: flex;
  justify-content: space-between; align-items: center;
  object { pointer-events: none; }
  .logo a { filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(106%) contrast(101%); }
  .logo a object { width: 190px; display: block; }
  .gnb { display: flex; color: #fff; margin-right: auto; margin-left: 35px;
   > li {
    > a { display: block; height: 60px; line-height: 4.2; font-weight: 500; font-size: 14px;
     text-transform: uppercase; position: relative; z-index: 200; padding-right: 15px;}
     }
   > li:last-child a { padding-right: 0;}
   .sub { position: absolute; width: 100%; left: 0; top: 70px; background: rgba(252, 252 ,252 , 0.9); display: none;
    padding: 30px 0 30px 240px; z-index: 200; font-family: "Noto Sans KR", sans-serif;
    li { display: inline-block; margin-right: 15px;
     a {  display: block; text-transform: uppercase; font-size: 14px; }
     &:last-child{ margin-right: 0; }
    }
   }
  }
  .member { display: flex; gap: 15px;
   a { filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(106%) contrast(101%); }
   a object { width: 24px; display: block; }
  }
 }
}

/* ==============================================================
   색션
==============================================================*/
// 공통
.swiper-wrapper { width: 100%; height: 100%; }
.swiper-button-prev::after , .swiper-button-next::after { display: none;}
.container { max-width: 1470px; margin: 0 auto; padding: 0 15px; position: relative; }

section { position: relative;
 .swiper-slide { width: 32%; }
 .swiper-button-prev , .swiper-button-next { color: #cdcdcd; width: 24px; height: 44px;}
 .swiper-button-next { background: url("../images/arrow-right.svg") no-repeat; right: -44px; }
 .swiper-button-prev  { background: url("../images/arrow-left.svg") no-repeat; left: -44px }
 .title { font-size: 60px; font-weight: 700; margin-bottom: 50px; text-transform: uppercase; letter-spacing: -1px; }
 .content_box { overflow: hidden;
  .blind { font-family: "Noto Sans KR", sans-serif;
   .txt { font-size: 16px; margin-top: 15px; font-weight: 400; }
   .price { font-size: 18px; font-weight: 600; margin-top: 10px;  display: block;
    em { padding-left: 5px; font-size: 16px; font-weight: 400; color: rgba(33,33,33,.3); text-decoration: line-through;}
   }
  }
 }
}

// 색션1
.hero_wrap { background-color: black; width: 100%; height: 100vh;
 figure { position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 100; opacity: 0.9;}
  video { width: 100%; height: 100%; object-fit: cover; }
}

// 색션2
.pick_wrap {  width: 100%; height: 100%; overflow: hidden; margin: 0 auto 150px; padding-top: 250px;
  .content_box { padding-bottom: 45px; position: relative; z-index: 100; overflow: hidden;
   .swiper-slide { width: 32%; }
   .inner { position: relative; display: block; overflow: hidden;
     img { width: 100%; height: 100%; object-fit: cover; transform: scale(1); transition: transform 0.5s ease; }
    .txt_box { position: absolute; bottom: 35px; left: 40px; color: white;
      h2 { font-size: 32px; font-weight: 400; line-height: 1; color: #fff; letter-spacing: -0.025em; margin-bottom: 8px;
       transition-duration: 0.4s;}
      h3 { font-weight: 300; font-size: 14px; line-height: 1; margin-bottom: 10px;
       font-family: "Noto Serif Korean", sans-serif;  transition-duration: 0.6s;}
     .uppercase { display: inline-block; position: relative; color: white; text-transform: uppercase; padding-bottom: 5px;
      border-bottom: 1px solid rgba(225,225,225,0.5); font-size: 12px; font-weight: 400; transition-duration: 0.8s;
      .line { position: absolute; left: 0; bottom: 0; width: 0; height: 1px; background: white;
       display: block; transition: width 0.4s ease; z-index: 10; }
       }
      }
    }
   .inner:hover {
    .uppercase > .line { width: 100%;}
   }
  }
}

// 색션3
.new_wrap { width: 100%; height: 100%; margin: 150px auto;
 .img_box { overflow: hidden; display: block; max-height: 590px;
    img { width: 100%; height: 100%; object-fit: cover; transition: all 0.3s; }
  &:hover {
     img {  transform: scale(1.05); opacity: 0.8; }
   }
  }
}

// 색션4
.banner_wrap.one { display: flex; font-family: "Noto Sans KR", sans-serif; box-sizing: border-box;
 .banner_box:first-child { background: #1A1A1A;
  .img_box p { color: #1A1A1A; }
   }
 .banner_box:last-child { background: #b3e0f3; color: #1A1A1A; }
 .banner_box { display: flex; flex: 1; height: 130px; justify-content: space-between; align-items: center;
  padding: 0 25px; color: white;
  .txt_box {
   h2 { font-size: 32px; margin-bottom: 5px; transition-duration: 0.4s;}
   p { font-weight: 100; font-size: 13px;  transition-duration: 0.6s;}
  }
  .img_box { height: 70px; position: relative;
   p { position: absolute; left: 50%; top: calc(50% - 2px); transform: translate(-50%, -50%); z-index: 20;
    font-size: 28px; font-weight: 700; letter-spacing: -1px; }
   img { width: 100%; height: 100%;  position: relative; z-index: 10; }
  }
 }
}

// 색션5
.best_wrap { width: 100%; height: 100%; margin: 150px auto;
 .img_box { overflow: hidden; display: block; max-height: 590px;
  img { width: 100%; height: 100%; object-fit: cover; transform: scale(1); transition: transform 0.5s ease; }
  &:hover {
   img {  transform: scale(1.1); opacity: 0.8; }
  }
 }
}

// 색션6
.banner_wrap.two { position: relative; width: 100%;
 .container { position: initial; }
 .bg { position: absolute; left: 0; top: 0; background: rgba(0,0,0,0.15);width: 100%;
  height: 100%; z-index: 9;
 }
 .bg_img { position: absolute; left: 0; top: 0; width: 100%;height: 100%;
  background: url("../images/banner-02.jpg") no-repeat; background-position: center; background-size: cover;
  background-attachment: fixed; z-index: 8;
 }
.info_box { position: relative; z-index: 10; color: white; text-align: center;  padding: 200px 0 180px;
 p { font-size: 42px; font-weight: 600; letter-spacing: 15px; margin-bottom: 20px;  transition-duration: 0.2s;}
 .uppercase { display: inline-block; position: relative; color: white; text-transform: uppercase; padding-bottom: 10px; border-bottom: 1px solid rgba(225,225,225,0.5);
  .line { position: absolute; left: 0; bottom: 0; width: 0; height: 1px; background: white; transition-duration: 0.4s;
   display: block; transition: width 0.4s ease; z-index: 10; }
  &:hover .line { width: 100%; }
  }
  }
}
// 색션7
.sns_wrap { width: 100%; margin: 150px auto; overflow: hidden;
 .swiper-wrapper { transition-timing-function: linear; }
 .top_box { text-transform: uppercase; text-align: center; font-weight: 700;
  .top_txt { font-size: 26px;  transition-duration: 0.2s; }
  .sub_txt { font-size: 60px; margin-bottom: 60px; display: inline-block; position: relative; padding-bottom: 10px;
   border-bottom: 2px solid rgba(225,225,225,0.5); transition-duration: 0.4s;
   .line { position: absolute; left: 0; bottom: -2px; width: 0; height: 2px; background: black;
    display: block; transition: width 0.4s ease; z-index: 10; }
   &:hover .line { width: 100%; }
  }
 }
 .list_box { display: flex; flex-flow: column; gap: 30px;}
 .sns_swiper {
  .swiper-slide { width: calc(16% - 13px);
   a  { display: block; max-height: 230px; position: relative; padding-bottom: 230px;
    img{ width: 100%; height: 100%; object-fit: cover; position: absolute; left: 0; top: 0; }
   }
  }
 }
}

/* ==============================================================
  푸터
==============================================================*/

.footer_wrap {  font-family: "Noto Sans KR", sans-serif;  padding: 50px 0; background: #1A1A1A;
.top_box { display: flex; justify-content: space-between; margin-bottom: 50px;
 .logo a { filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(106%) contrast(101%) !important;
  object { display: block; }
 }
 h2 { font-size: 18px; margin-bottom: 10px; color: white; }
  .site_list { display: flex; flex-flow: column;
     a { color: #858585; font-size: 15px; }
     a + a { margin-top: 5px; }
   }
 .community {
   p { color: #858585; font-size: 15px; }
   p + p { margin-top: 5px;}
 }
 .sns { display: flex; gap: 15px;
  object { width: 30px;  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(106%) contrast(101%);  }
 }
 }
.bottom_box { color: #555; font-size: 13px; letter-spacing: 0.25px; word-break: keep-all;
  .info_list { margin-bottom: 30px; }
  .type01 { margin-bottom: 30px; }
  .type02 { margin-bottom: 20px; }
}
}