@charset "UTF-8";
/* ==============================================================
  해더
==============================================================*/
header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: all 0.2s; }
  header .inner {
    width: 100%;
    height: 70px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .inner object {
      pointer-events: none; }
    header .inner .logo a {
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(106%) contrast(101%); }
    header .inner .logo a object {
      width: 190px;
      display: block; }
    header .inner .gnb {
      display: flex;
      color: #fff;
      margin-right: auto;
      margin-left: 35px; }
      header .inner .gnb > li > a {
        display: block;
        height: 60px;
        line-height: 4.2;
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
        position: relative;
        z-index: 200;
        padding-right: 15px; }
      header .inner .gnb > li:last-child a {
        padding-right: 0; }
      header .inner .gnb .sub {
        position: absolute;
        width: 100%;
        left: 0;
        top: 70px;
        background: rgba(252, 252, 252, 0.9);
        display: none;
        padding: 30px 0 30px 240px;
        z-index: 200;
        font-family: "Noto Sans KR", sans-serif; }
        header .inner .gnb .sub li {
          display: inline-block;
          margin-right: 15px; }
          header .inner .gnb .sub li a {
            display: block;
            text-transform: uppercase;
            font-size: 14px; }
          header .inner .gnb .sub li:last-child {
            margin-right: 0; }
    header .inner .member {
      display: flex;
      gap: 15px; }
      header .inner .member a {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(106%) contrast(101%); }
      header .inner .member a object {
        width: 24px;
        display: block; }

/* ==============================================================
   색션
==============================================================*/
.swiper-wrapper {
  width: 100%;
  height: 100%; }

.swiper-button-prev::after, .swiper-button-next::after {
  display: none; }

.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative; }

section {
  position: relative; }
  section .swiper-slide {
    width: 32%; }
  section .swiper-button-prev, section .swiper-button-next {
    color: #cdcdcd;
    width: 24px;
    height: 44px; }
  section .swiper-button-next {
    background: url("../images/arrow-right.svg") no-repeat;
    right: -44px; }
  section .swiper-button-prev {
    background: url("../images/arrow-left.svg") no-repeat;
    left: -44px; }
  section .title {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: -1px; }
  section .content_box {
    overflow: hidden; }
    section .content_box .blind {
      font-family: "Noto Sans KR", sans-serif; }
      section .content_box .blind .txt {
        font-size: 16px;
        margin-top: 15px;
        font-weight: 400; }
      section .content_box .blind .price {
        font-size: 18px;
        font-weight: 600;
        margin-top: 10px;
        display: block; }
        section .content_box .blind .price em {
          padding-left: 5px;
          font-size: 16px;
          font-weight: 400;
          color: rgba(33, 33, 33, 0.3);
          text-decoration: line-through; }

.hero_wrap {
  background-color: black;
  width: 100%;
  height: 100vh; }
  .hero_wrap figure {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0.9; }
  .hero_wrap video {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.pick_wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto 150px;
  padding-top: 250px; }
  .pick_wrap .content_box {
    padding-bottom: 45px;
    position: relative;
    z-index: 100;
    overflow: hidden; }
    .pick_wrap .content_box .swiper-slide {
      width: 32%; }
    .pick_wrap .content_box .inner {
      position: relative;
      display: block;
      overflow: hidden; }
      .pick_wrap .content_box .inner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        transition: transform 0.5s ease; }
      .pick_wrap .content_box .inner .txt_box {
        position: absolute;
        bottom: 35px;
        left: 40px;
        color: white; }
        .pick_wrap .content_box .inner .txt_box h2 {
          font-size: 32px;
          font-weight: 400;
          line-height: 1;
          color: #fff;
          letter-spacing: -0.025em;
          margin-bottom: 8px;
          transition-duration: 0.4s; }
        .pick_wrap .content_box .inner .txt_box h3 {
          font-weight: 300;
          font-size: 14px;
          line-height: 1;
          margin-bottom: 10px;
          font-family: "Noto Serif Korean", sans-serif;
          transition-duration: 0.6s; }
        .pick_wrap .content_box .inner .txt_box .uppercase {
          display: inline-block;
          position: relative;
          color: white;
          text-transform: uppercase;
          padding-bottom: 5px;
          border-bottom: 1px solid rgba(225, 225, 225, 0.5);
          font-size: 12px;
          font-weight: 400;
          transition-duration: 0.8s; }
          .pick_wrap .content_box .inner .txt_box .uppercase .line {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 1px;
            background: white;
            display: block;
            transition: width 0.4s ease;
            z-index: 10; }
    .pick_wrap .content_box .inner:hover .uppercase > .line {
      width: 100%; }

.new_wrap {
  width: 100%;
  height: 100%;
  margin: 150px auto; }
  .new_wrap .img_box {
    overflow: hidden;
    display: block;
    max-height: 590px; }
    .new_wrap .img_box img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s; }
    .new_wrap .img_box:hover img {
      transform: scale(1.05);
      opacity: 0.8; }

.banner_wrap.one {
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box; }
  .banner_wrap.one .banner_box:first-child {
    background: #1A1A1A; }
    .banner_wrap.one .banner_box:first-child .img_box p {
      color: #1A1A1A; }
  .banner_wrap.one .banner_box:last-child {
    background: #b3e0f3;
    color: #1A1A1A; }
  .banner_wrap.one .banner_box {
    display: flex;
    flex: 1;
    height: 130px;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    color: white; }
    .banner_wrap.one .banner_box .txt_box h2 {
      font-size: 32px;
      margin-bottom: 5px;
      transition-duration: 0.4s; }
    .banner_wrap.one .banner_box .txt_box p {
      font-weight: 100;
      font-size: 13px;
      transition-duration: 0.6s; }
    .banner_wrap.one .banner_box .img_box {
      height: 70px;
      position: relative; }
      .banner_wrap.one .banner_box .img_box p {
        position: absolute;
        left: 50%;
        top: calc(50% - 2px);
        transform: translate(-50%, -50%);
        z-index: 20;
        font-size: 28px;
        font-weight: 700;
        letter-spacing: -1px; }
      .banner_wrap.one .banner_box .img_box img {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 10; }

.best_wrap {
  width: 100%;
  height: 100%;
  margin: 150px auto; }
  .best_wrap .img_box {
    overflow: hidden;
    display: block;
    max-height: 590px; }
    .best_wrap .img_box img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1);
      transition: transform 0.5s ease; }
    .best_wrap .img_box:hover img {
      transform: scale(1.1);
      opacity: 0.8; }

.banner_wrap.two {
  position: relative;
  width: 100%; }
  .banner_wrap.two .container {
    position: initial; }
  .banner_wrap.two .bg {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 100%;
    z-index: 9; }
  .banner_wrap.two .bg_img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../images/banner-02.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 8; }
  .banner_wrap.two .info_box {
    position: relative;
    z-index: 10;
    color: white;
    text-align: center;
    padding: 200px 0 180px; }
    .banner_wrap.two .info_box p {
      font-size: 42px;
      font-weight: 600;
      letter-spacing: 15px;
      margin-bottom: 20px;
      transition-duration: 0.2s; }
    .banner_wrap.two .info_box .uppercase {
      display: inline-block;
      position: relative;
      color: white;
      text-transform: uppercase;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(225, 225, 225, 0.5); }
      .banner_wrap.two .info_box .uppercase .line {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        background: white;
        transition-duration: 0.4s;
        display: block;
        transition: width 0.4s ease;
        z-index: 10; }
      .banner_wrap.two .info_box .uppercase:hover .line {
        width: 100%; }

.sns_wrap {
  width: 100%;
  margin: 150px auto;
  overflow: hidden; }
  .sns_wrap .swiper-wrapper {
    transition-timing-function: linear; }
  .sns_wrap .top_box {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700; }
    .sns_wrap .top_box .top_txt {
      font-size: 26px;
      transition-duration: 0.2s; }
    .sns_wrap .top_box .sub_txt {
      font-size: 60px;
      margin-bottom: 60px;
      display: inline-block;
      position: relative;
      padding-bottom: 10px;
      border-bottom: 2px solid rgba(225, 225, 225, 0.5);
      transition-duration: 0.4s; }
      .sns_wrap .top_box .sub_txt .line {
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        height: 2px;
        background: black;
        display: block;
        transition: width 0.4s ease;
        z-index: 10; }
      .sns_wrap .top_box .sub_txt:hover .line {
        width: 100%; }
  .sns_wrap .list_box {
    display: flex;
    flex-flow: column;
    gap: 30px; }
  .sns_wrap .sns_swiper .swiper-slide {
    width: calc(16% - 13px); }
    .sns_wrap .sns_swiper .swiper-slide a {
      display: block;
      max-height: 230px;
      position: relative;
      padding-bottom: 230px; }
      .sns_wrap .sns_swiper .swiper-slide a img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 0; }

/* ==============================================================
  푸터
==============================================================*/
.footer_wrap {
  font-family: "Noto Sans KR", sans-serif;
  padding: 50px 0;
  background: #1A1A1A; }
  .footer_wrap .top_box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px; }
    .footer_wrap .top_box .logo a {
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(106%) contrast(101%) !important; }
      .footer_wrap .top_box .logo a object {
        display: block; }
    .footer_wrap .top_box h2 {
      font-size: 18px;
      margin-bottom: 10px;
      color: white; }
    .footer_wrap .top_box .site_list {
      display: flex;
      flex-flow: column; }
      .footer_wrap .top_box .site_list a {
        color: #858585;
        font-size: 15px; }
      .footer_wrap .top_box .site_list a + a {
        margin-top: 5px; }
    .footer_wrap .top_box .community p {
      color: #858585;
      font-size: 15px; }
    .footer_wrap .top_box .community p + p {
      margin-top: 5px; }
    .footer_wrap .top_box .sns {
      display: flex;
      gap: 15px; }
      .footer_wrap .top_box .sns object {
        width: 30px;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(106%) contrast(101%); }
  .footer_wrap .bottom_box {
    color: #555;
    font-size: 13px;
    letter-spacing: 0.25px;
    word-break: keep-all; }
    .footer_wrap .bottom_box .info_list {
      margin-bottom: 30px; }
    .footer_wrap .bottom_box .type01 {
      margin-bottom: 30px; }
    .footer_wrap .bottom_box .type02 {
      margin-bottom: 20px; }

/*# sourceMappingURL=main.css.map */
